<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Menara Bekasi | Mengenal Kayu Ramah Lingkungan dan Sertifikasi Hijau untuk Ekspor Berkelanjutan</title>
		<meta name="description" content="Menara Bekasi membantu memberikan edukasi mengenai pemilihan kayu ramah lingkungan, sertifikasi hijau, dan proses ekspor berkelanjutan yang sesuai standar internasional." />
		<!-- Bootstrap CSS -->
    	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" /> -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
